body {
  text-align: center;
  font-family: 'Roboto';
  font-size: 30px;
  background: #ADFFD2;
}
button {
  margin: 20px;
}
input {
  font-size: 24px;
}
.fill {
  background: #FFDAA0;
  color: #FFDAA0;
  border-bottom: 4px #FFA296;  solid;
  font-family: 'Crimson Text';
  padding: 0 6px;
  margin: 4px;
}
#page-wrap {
  width: 800px;
  margin: 100px;
  width: 275px;
  left-margin: 500px;
  padding: 2px;
  border: 3px solid #DCD6F7;
  margin: 0;
  background-color: #89D9FF;
  border-radius: 25px;
}

.box {
  /*width: 275px;
  left-margin: 500px;
  padding: 2px;
  border: 3px solid #DCD6F7;
  margin: 0;
  background-color: #89D9FF;
  border-radius: 25px;*/
}

</style>
